<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Univers Capital</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/UVC-Logo-Grey.svg" rel="icon">
  <link href="img/UVC-Logo-Grey.svg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>

  <div class="circle-bg">
    <div class="circle-bg1"></div>
    <div class="circle-bg2"></div>
    <div class="circle-bg3"></div>
    <div class="circle-bg4"></div>  
    <div class="circle-bg5"></div>  
    <div class="circle-bg6"></div>  
  </div>

    <img class="line-decor" src="img/Line-Decor.svg" alt="">
    <img class="line-decor2" src="img/Line-Decor.svg" alt="">

    <header id="header" class="header container">
      <img class="logo" src="img/UVC-Logo-and-Text.svg" alt="Univers Capital logo">
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li>
            <a href="">Our Story</a>
          </li>
          <li>
            <a href="">Industries</a>
          </li>
          <li>
            <a href="">Our Services</a>
          </li>
          <li>
            <a href="">Case Study</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
      <!-- ======= Header ======= rm: class fixed-top -->


  <video autoplay muted loop id="myVideo" class="hero-video">
    <source src="img/hero-crystal.mp4" type="video/mp4">
  </video>
    <div class="hero d-flex align-items-center">
      <div class="container hero-container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Your Full-Service Digital Marketing Company for <br> <span id="words">Blockchain</span></h1>
            <h2 data-aos="fade-up" data-aos-delay="400">A leading digital marketing company dedicated to elevating your brand through multi-channel marketing, branding and creative design.</h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a style="margin-top: 20px;" href="#story" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200"> -->
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Story Section ======= -->
  <section id="story">
    <div class="container box-story">
      <div class="story story-box">
        <header class="section-header">
            <h2 class="sub-header">Our Story</h2>
          <div class="text-center justify-content-center" data-aos="fade-up" data-aos-delay="600">
            <h3 data-aos="fade-up" >
              A leading digital marketing agency dedicated to elevating your brand through multi-channel marketing solutions, branding and creative design.
              <br/>
              <br/>
              Enhancing your brand through multi-channel marketing solutions, branding and creative design.
            </h3>
          </div>
    </div>
    
        <div class="story-box-2"></div>

  </section><!-- End Features Section -->



  <div class="d-flex justify-content-center">
    <video autoplay muted loop id="story-video" class="story-video">
      <source src="img/phale.mp4" type="video/mp4">
    </video>
  </div>
  </div>

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="" data-aos="fade-up">
      <div class="text-wrapper">
        <h1>Marketing</h1>
        <h1>Marketing</h1>
        <h1>Marketing</h1>
        <h1>Marketing</h1>
        <h1>Marketing</h1>
        <h1>Marketing</h1>
        <h1>Marketing</h1>
      </div>
    </div>


  </section><!-- End Clients Section -->

  <!-- ======= Industry Section ======= -->
  <section id="industry" class="industry">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <!-- <h2>Our industry</h2> -->
        <h2 class="sub-header">Industries</h2>
        <h3 data-aos="fade-up" data-aos-delay="400">
          We’re a full-service digital marketing agency that helps brands that want to get noticed and dominate their industry.
        </h3>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="img/Asset 1.png" alt="">
            <h2 style="font-weight: bold; color: white;">Blockchain</h2>
            <p>Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.</p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="img/Asset 2.png" alt="">
            <h2 style="font-weight: bold; color: white;">Creative</h2>
            <p>Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.</p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="img/Asset 3.png" alt="">     
            <h2 style="font-weight: bold; color: white;">Traditional</h2>
            <p>Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Industry Section -->
  <svg style="margin-top: -300px ;" data-theme="dark" viewBox="0 0 1371 131" xmlns="http://www.w3.org/2000/svg" class="css-54dvsu"><g opacity="0.12"><path fill-rule="evenodd" clip-rule="evenodd" d="M1283.29 61.2456L1370.47 107.883L1369.53 109.646L1279.05 61.2456H1087.11L1171.44 125.875L1170.22 127.462L1083.82 61.2456H922.641L975.373 128.246H1368.48V131.246H2.4845V128.246H192.484L279.477 61.2456H75.3353L1.45309 99.0025L0.542969 97.2216L70.9403 61.2456H2.4845V59.2456H74.8539L186.391 2.24561H2.4845V0.245605H1007.18L1007.3 0.0880319L1007.51 0.245605H1168.67L1168.8 0L1169.26 0.245605H1368.48V2.24561H1173L1279.55 59.2456H1368.48V61.2456H1283.29ZM1275.31 59.2456L1168.76 2.24561H1010.12L1084.5 59.2456H1275.31ZM1081.21 59.2456L1006.83 2.24561H876.205L921.067 59.2456H1081.21ZM918.522 59.2456L873.796 2.41838L874.015 2.24561H777.385L797.8 59.2456H918.522ZM795.676 59.2456L775.26 2.24561H603.759L603.9 2.31296L576.697 59.2456H795.676ZM796.392 61.2456L820.389 128.246H543.728L575.742 61.2456H796.392ZM822.513 128.246L798.517 61.2456H920.096L972.828 128.246H822.513ZM187.953 3.69316L187.213 2.24561H356.083L282.073 59.2456H79.2488L187.953 3.69316ZM357.608 3.59496L356.569 2.24561H485.937L440.961 59.2456H285.351L357.608 3.59496ZM488.283 2.50128L487.959 2.24561H601.716L574.481 59.2456H443.508L488.283 2.50128ZM441.93 61.2456H573.525L541.596 128.069L541.964 128.246H389.063L441.93 61.2456ZM439.382 61.2456L386.515 128.246H195.761L282.754 61.2456H439.382Z" fill="url(#paint0_linear_3597_5639)" style="mix-blend-mode:multiply"></path></g><rect x="220.999" y="59.7456" width="931" height="1" fill="url(#paint1_linear_3597_5639)" fill-opacity="0.6"></rect><defs><linearGradient id="paint0_linear_3597_5639" x1="1391" y1="65.7452" x2="52.5002" y2="65.7453" gradientUnits="userSpaceOnUse"><stop stop-color="white" stop-opacity="0"></stop><stop offset="0.403742" stop-color="white" stop-opacity="0.505556"></stop><stop offset="0.479167" stop-color="white" stop-opacity="0.6"></stop><stop offset="1" stop-color="white" stop-opacity="0"></stop></linearGradient><linearGradient id="paint1_linear_3597_5639" x1="184.406" y1="62.9607" x2="184.556" y2="72.6672" gradientUnits="userSpaceOnUse"><stop stop-color="#191A1B"></stop><stop offset="0.3125" stop-color="#18434E"></stop><stop offset="0.697917" stop-color="#6C2F73"></stop><stop offset="1" stop-color="#191A1B"></stop></linearGradient></defs></svg>

  <!-- ======= Features Section ======= -->
  <section id="features" class="features services-container">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2 class="sub-header">Our services</h2>
        <h3>We’re experts in all things marketing. Business-to-business, cryptocurrency, NFT, and high-growth startup brands are our sweet spot. Discover how we can scale your business to new heights through our strategic services below:</h3>
      </header>

      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">

        <div class="row">

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box p-3 " data-aos="fade-up">
                <img src="img/1.png" class="img-service" alt="">
                <div>
                  <h4>Social Media</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div>

              <div class="col-md-6 icon-box p-3" data-aos="fade-up" data-aos-delay="100">
                <img src="img/2.png" class="img-service" alt="">
                <div>
                  <h4>Ads optimization</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div>

              <div class="col-md-6 icon-box p-3" data-aos="fade-up" data-aos-delay="200">
                <img src="img/3.png" class="img-service" alt="">
                <div>
                  <h4>Community Viral</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div>

              <div class="col-md-6 icon-box p-3" data-aos="fade-up" data-aos-delay="300">
                <img src="img/4.png" class="img-service" alt="">
                <div>
                  <h4>PR</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
              </div>

              <div class="col-md-6 icon-box p-3" data-aos="fade-up" data-aos-delay="400">
                <img src="img/5.png" class="img-service" alt="">
                <div>
                  <h4>Programatic</h4>
                  <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="img/Asset 4.png" class="img-fluid p-4 phone-img" alt="">
          </div>
        </div>

      </div><!-- End Feature Icons -->

    </div>

  </section><!-- End Features Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features casestudy-box">
    <div class="container box-story">
      <div class="story story-box" data-aos="fade-up">
        <header class="section-header">
          <h2 class="sub-header">Case Study</h2>
          <h3 data-aos="fade-up" data-aos-delay="400" class="mt-3">
            Partner With a Digital Marketing Agency That Delivers Growth
          </h3>
          <div class="text-center justify-content-center" data-aos="fade-up" data-aos-delay="600">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Learn More</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
    </div>
    
        <div class="story-box-2"></div>

  </section><!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">

    <header class="section-header">
      <h2 class="sub-header" style="font-size: 10vw;">Testimonials</h2>
      <h3 style="padding-left: 10%; padding-right: 10%;">We’re a full-service digital marketing agency that helps brands that want to get noticed and dominate their industry.</h3>
    </header>

    <div class="container slider-box" data-aos="fade-up">
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
              <div class="profile mt-auto">
                <img src="img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
              <div class="profile mt-auto">
                <img src="img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              </p>
              <div class="profile mt-auto">
                <img src="img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              </p>
              <div class="profile mt-auto">
                <img src="img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              </p>
              <div class="profile mt-auto">
                <img src="img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <video autoplay muted loop id="footerVideo">
        <source src="img/background.mp4" type="video/mp4">
    </video>

      <div class="container contact-box" data-aos="fade-up">

        <header class="section-header" style="padding-bottom: 0 !important;">
          <h2 class="sub-header" style="text-align: left; padding-bottom: 2px !important;"> Launch your growth Journey now</h2>
          <h3 style="text-align: left; margin-left: 0;">We’re a full-service digital marketing agency that helps brands that want to get noticed and dominate their industry.</h1>

        </header>

        <div class="row gy-4">

          <div class="col-lg-6 contact-left">
            <!-- <h3 style="color: var(--color-white);">We’re a full-service digital marketing agency that helps brands that want to get noticed and dominate their industry.</h1> -->
            <p class="mt-3" style="color:rgba(255, 255, 255, 0.677)">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form contact-form">
              <div class="row gy-4">

                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Title" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>
      <footer id="footer" class="footer">

        <div class="footer-top">
          <div class="container">
              <div class="copyright">
                &copy; Copyright <strong><span>Univers Capital</span></strong>. All Rights Reserved
              </div>  
            </div>
          </div>
    
      </footer><!-- End Footer -->

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

  <script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function() {
      navBar = document.querySelector('.nav-bar');
      navBar.classList.toggle('active');
    }
  </script>

  <script>
    (function () {
      var words = [
        "Crypto",
        "Traditional",
        "Creative"
      ],
      i = 0;
      setInterval(function(){
        $('#words').fadeOut(function(){
          $(this).html(words[(i = ( i + 1) % words.length)]).fadeIn();
        });
      }, 3000)
    })();
  </script>



</body>

</html>